<app-login-basic-layout title="Sign up" [loading]="loading" page="signup" (submitAuth)="signup()">
  <form fxFlex class="full-width" fxLayout="column" fxLayoutGap="9" [formGroup]="signupForm" (ngSubmit)="signup()">
    <mat-form-field>
      <mat-label>Fornavn</mat-label>
      <input matInput id="first-name" type="text" formControlName="firstName">
      <mat-icon matIconSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Efternavn</mat-label>
      <input matInput id="surname" type="text" formControlName="lastName">
      <mat-icon matIconSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefon</mat-label>
      <input matInput id="phone" type="tel" formControlName="phone">
      <mat-icon matIconSuffix>phone</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Din email</mat-label>
      <input matInput id="email" type="email" formControlName="email">
      <mat-icon matIconSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Din adgangskode</mat-label>
      <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gentag adgangskode</mat-label>
      <input matInput id="repeat-password" [type]="repeatHide ? 'password' : 'text'" formControlName="repeatPassword">
      <button mat-icon-button matSuffix type="button" (click)="repeatHide = !repeatHide">
        <mat-icon>{{repeatHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</app-login-basic-layout>
