<app-warehouse-basic-layout>
  <div fxFlex fxLayoutAlign="center start" fxLayout="row">
    <form *ngIf="itemForm" fxLayout="column" class="document" fxLayoutGap="5" [formGroup]="itemForm" (ngSubmit)="submitItem()">
      <mat-form-field>
        <mat-label>item Name:</mat-label>
        <input matInput type="text" formControlName="itemName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>item Description:</mat-label>
        <input matInput type="text" formControlName="itemDescription">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price:</mat-label>
        <input matInput type="text" formControlName="itemPrice">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Quantity:</mat-label>
        <input matInput type="text" formControlName="itemQuantity">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Vælg type af produkt</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="wine">Wine</mat-option>
          <mat-option value="liquor">Liquor</mat-option>
          <mat-option value="option3">yes</mat-option>
        </mat-select>
      </mat-form-field>

<!--      wine or liquor-->
      <ng-container *ngIf="selected === 'wine' || selected === 'liquor'">
        <mat-form-field>
          <mat-label>Fra år:</mat-label>
          <input matInput type="text" formControlName="yearField">
        </mat-form-field>

        <mat-form-field *ngIf="selected === 'wine' || selected === 'liquor'">
          <mat-label>Produkt volume:</mat-label>
          <input matInput type="text" formControlName="volumeField">
        </mat-form-field>

        <mat-form-field *ngIf="selected === 'wine' || selected === 'liquor'">
          <mat-label>Alkohol Procent:</mat-label>
          <input matInput type="text" formControlName="alcoholPercentageField">
        </mat-form-field>
      </ng-container>

<!--      wine specific-->
      <ng-container *ngIf="selected === 'wine'">

        <mat-form-field *ngIf="selected === 'wine'">
          <mat-label>Oprindelsesland:</mat-label>
          <input matInput type="text" formControlName="countryField">
        </mat-form-field>

        <mat-form-field *ngIf="selected === 'wine'">
          <mat-label>Druesort:</mat-label>
          <input matInput type="text" formControlName="grapesortField">
        </mat-form-field>

        <mat-form-field *ngIf="selected === 'wine'">
          <mat-label>Passer til:</mat-label>
          <mat-select [formControl]="suitables" multiple>
            <mat-option *ngFor="let suitableFor of suitablesList" [value]="suitableFor">{{suitableFor}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="selected === 'wine'">
          <mat-label>Vintype</mat-label>
          <mat-select [(value)]="wineType">
            <mat-option>None</mat-option>
            <mat-option value="vin1">vin1</mat-option>
            <mat-option value="vin2">vin2</mat-option>
            <mat-option value="yes">yes</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <button (click)="submitItem()" mat-raised-button color="primary">Submit</button>

    </form>
  </div>
</app-warehouse-basic-layout>
