<app-warehouse-basic-layout (logOutEvent)="logout()">
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" style="background-color: lightgray">
    <form *ngIf="itemForm" fxLayout="column" class="document" fxLayoutGap="5" [formGroup]="itemForm" (ngSubmit)="submitItem()">
      <span fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>category</mat-icon>
        <h1 class="no-margin no-padding">Opret Produkt</h1>
      </span>
      <mat-form-field>
        <mat-label>Vælg type af produkt</mat-label>
        <mat-select formControlName="itemType">
          <mat-option [value]="item.key" *ngFor="let item of ItemType | keyValue">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Varenavn</mat-label>
        <input matInput type="text" formControlName="itemName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Varenummer</mat-label>
        <input matInput type="text" formControlName="EAN">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Varebeskrivelse</mat-label>
        <input matInput type="text" formControlName="itemDescription">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pris</mat-label>
        <input matInput type="text" formControlName="itemPrice">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Antal</mat-label>
        <input matInput type="phone" formControlName="itemQuantity">
      </mat-form-field>

<!--      wine or liquor-->
      <ng-container *ngIf="selectedItemType === ItemType.Liquor || selectedItemType === ItemType.Wine">
        <mat-form-field>
          <mat-label>Fra år:</mat-label>
          <input matInput type="phone" formControlName="year">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Produkt volume i liter (eks: 1.75):</mat-label>
          <input matInput type="text" formControlName="volume">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Alkohol Procent (eks: 12.5):</mat-label>
          <input matInput type="text" formControlName="alcoholPercentage">
        </mat-form-field>
      </ng-container>

<!--      wine specific-->
      <ng-container *ngIf="selectedItemType === ItemType.Wine">
        <mat-form-field>
          <mat-label>Oprindelsesland:</mat-label>
          <input matInput type="text" formControlName="country">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Region:</mat-label>
          <input matInput type="text" formControlName="region">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Vingård:</mat-label>
          <input matInput type="text" formControlName="winery">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Druesort:</mat-label>
          <input matInput type="text" formControlName="grapeSort">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Smagsnoter:</mat-label>
          <input matInput type="text" formControlName="tastingNotes">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Passer til:</mat-label>
          <mat-select [formControl]="suitables" multiple>
            <mat-option *ngFor="let SuitableFor of SuitableFor | keyValue" [value]="SuitableFor.key">{{SuitableFor.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Vintype</mat-label>
          <mat-select formControlName="wineType">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let wineType of WineType | keyValue" [value]="wineType.key">{{wineType.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

<!--      Liquor-->
      <ng-container *ngIf="selectedItemType === ItemType.Liquor">
        <mat-form-field>
          <mat-label>Likørtype</mat-label>
          <mat-select formControlName="liquorType">
            <mat-option *ngFor="let liqourType of LiqourType | keyValue" [value]="liqourType.key">{{liqourType.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <button mat-raised-button color="primary">Submit</button>

    </form>
  </div>
</app-warehouse-basic-layout>
