<app-warehouse-basic-layout (logOutEvent)="logout()">
  <form [formGroup]="itemForm">
    <mat-form-field appearance="fill">
      <mat-label for="wine-quantity">Wine Quantity: </mat-label>
      <input matInput id="wine-quantity" type="number" formControlName="wineQuantity">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="wine-type">Wine Type: </mat-label>
      <input matInput id="wine-type" type="text" formControlName="wineType">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="wine-name">Wine Name: </mat-label>
      <input matInput id="wine-name" type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="item-id">Item ID: </mat-label>
      <input matInput id="item-id" type="text" formControlName="id">
    </mat-form-field>

    <button (click)="submitItem()" mat-raised-button color="primary">Submit</button>
  </form>
</app-warehouse-basic-layout>
