.wine-image-container{
  width: 100%;
}

.wine-image{
  width: 94%;
  max-height: 90vh;
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  height: 100%;
}

.wine-image-text{
  color: white;
}

.wine-image-text-box{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.front-card-image {
  height: 90vh;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.front-card-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9)) ;
}

.front-card-image-text {
  position: relative;
  z-index: 1;
  color: white;
  width: 90%;
}
