<app-front-basic-layout [loggedIn]="loggedIn">
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" *ngIf="!loading" style="background-color: #EFEFEF">
    <form *ngIf="profileForm" fxLayout="column" class="document" fxLayoutGap="5" [formGroup]="profileForm" (ngSubmit)="submitProfile()">
      <span fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>person</mat-icon>
        <h1 class="no-margin no-padding">Min profil</h1>
      </span>
      <mat-form-field>
        <mat-label>Fornavn</mat-label>
        <input matInput type="text" formControlName="firstName" (keyup.enter)="submitProfile()">
        <mat-icon matIconSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Efternavn</mat-label>
        <input matInput type="text" formControlName="lastName" (keyup.enter)="submitProfile()">
        <mat-icon matIconSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput type="phone" formControlName="phone" (keyup.enter)="submitProfile()">
        <mat-icon matIconSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input id="email" matInput type="text" formControlName="email" (keyup.enter)="submitProfile()">
        <mat-icon matIconSuffix>email</mat-icon>
      </mat-form-field>
      <div *ngIf="showChangePasswordFields" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5">
        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label>Nuværende adgangskode</mat-label>
          <input id="password" [type]="hide ? 'password' : 'text'" matInput formControlName="password" (keyup.enter)="submitProfile()">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" tabindex="1">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ny adgangskode</mat-label>
          <input [type]="hideNew ? 'password' : 'text'" matInput formControlName="newPasswordOne" (keyup.enter)="submitProfile()">
          <button mat-icon-button matSuffix type="button" (click)="hideNew = !hideNew" tabindex="1">
            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gentag ny adgangskode</mat-label>
          <input [type]="hideNew ? 'password' : 'text'" matInput formControlName="newPasswordTwo" (keyup.enter)="submitProfile()">
          <button mat-icon-button matSuffix type="button" (click)="hideNew = !hideNew" tabindex="1">
            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20">
        <button *ngIf="!showChangePasswordFields" color="warn" type="button" mat-raised-button (click)="toggleChangePasswordFields()">
          <mat-icon>lock</mat-icon>
          Skift adganskode
        </button>
        <button *ngIf="showChangePasswordFields" color="warn" type="button" mat-raised-button (click)="toggleChangePasswordFields()">
          <mat-icon>delete</mat-icon>
          Annuller
        </button>
        <button *ngIf="!showChangePasswordFields" color="accent" type="button" [disabled]="!profileForm.dirty" (click)="getUserAndBuildForm()" mat-raised-button>
          <mat-icon>restart_alt</mat-icon>
          Nulstil
        </button>
        <button *ngIf="showChangePasswordFields" (click)="changePassword()" color="primary" type="button" mat-raised-button>
          <mat-icon>save</mat-icon>
          Ændre adgangskode
        </button>
        <button *ngIf="!showChangePasswordFields" color="primary" type="submit" mat-raised-button>
          <mat-icon>save</mat-icon>
          Gem
        </button>
      </div>

      <span style="padding-top: 30px" fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>description</mat-icon>
        <h1 class="no-margin no-padding">Mine ordre</h1>
      </span>

      <table mat-table [dataSource]="customerPurchaseOrders" (matSortChange)="sortData($event)"matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Id
          </th>
          <td mat-cell *matCellDef="let order"> {{order.id}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Status
          </th>
          <td mat-cell *matCellDef="let order"> {{order.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
  </div>
</app-front-basic-layout>
<div fxFlexFill *ngIf="loading" fxLayoutAlign="center center" class="spinner">
  <mat-spinner></mat-spinner>
</div>
