<div fxFlexFill fxLayout="column">
  <app-front-header [loggedIn]="loggedIn" (logOutEvent)="logout()"></app-front-header>
  <div fxFlex>
    <div fxFlex="100" class="loginBackground">
      <div fxFlex fxLayoutAlign="center center" class="full-height" fxLayout="row" style="padding: 30px">
        <div fxFlex fxLayout="column" fxLayoutGap="10">
          <div fxFlex fxLayoutAlign="center end">
            <h1 class="auth-h1">{{title}}</h1>
          </div>
          <ng-content>
          </ng-content>
          <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10">
            <div fxFlex *ngIf="page === 'login'" fxLayoutGap="10">
              <button color="accent" mat-raised-button routerLink="/signup" type="button">Sign up</button>
              <button mat-raised-button routerLink="/forgot-password" type="button">Forgot password</button>
            </div>
            <div fxFlex *ngIf="page === 'signup'" fxLayoutGap="10">
              <button mat-raised-button routerLink="/login" type="button">Sign in</button>
              <button mat-raised-button routerLink="/forgot-password" type="button">Forgot password</button>
            </div>
            <div fxFlex *ngIf="page === 'forgot'" fxLayoutGap="10">
              <button mat-raised-button routerLink="/login" type="button">Sign in</button>
              <button color="accent" mat-raised-button routerLink="/signup" type="button">Sign up</button>
            </div>
            <button mat-raised-button color="primary" (click)="this.submitAuth.emit()" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="100"  fxFlex.lt-md="0" class="auth-background" style="background-image: url('assets/LogoISort.png')">
    </div>
  </div>
</div>
<div fxFlexFill *ngIf="loading" fxLayoutAlign="center center" class="spinner">
  <mat-spinner></mat-spinner>
</div>

