@use '@angular/material' as mat;
@import '../../../../../src/styles.scss';

.auth-h1 {
  color: white;
  font-size: 2rem;
}

.auth-background{
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.position-fixed{
  display: none;
}

.loginBackground{
  background-color: mat.get-color-from-palette($my-primary);
}
