.auth-h1 {
  color: white;
  font-size: 2rem;
}

.auth-background{
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.position-fixed{
  display: none;
}

.background-color-purple{
  background-color: #673ab7;
}
