@use '@angular/material' as mat;
@import '../../../../../src/styles.scss';

.auth-h1 {
  color: white;
  font-size: 2rem;
}

.auth-icon{
  font-size: 2rem;
  height: auto;
  width: auto;
  color: white;
}

.auth-background{
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.position-fixed{
  display: none;
}

.loginBackground{
  background-color: black;
}
