<app-login-basic-layout>
  <div fxFlex fxLayoutAlign="center center">
    <div fxFlex fxLayout="column" fxLayoutGap="8" class="login-form">
      <form fxFlex fxLayout="column"  [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-icon matIconSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button>Sign up</button>
    </div>
  </div>
</app-login-basic-layout>
