<app-warehouse-basic-layout>
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" style="background-color: #EFEFEF">
    <div fxLayout="column" class="document" fxLayoutGap="5">
      <span class="padding-bottom-10" fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>local_shipping</mat-icon>
        <h1 class="no-margin no-padding" >Alle leverandører</h1>
      </span>

      <app-data-table [tableData]="suppliers" [displayedColumns]="displayedColumns" (lineClickId)="editSupplier($event)"></app-data-table>
      <mat-paginator *ngIf="suppliers?.data.length !== 0" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

      <div class="padding-top-10" fxLayoutAlign="end center">
        <button class="full-width" routerLink="/warehouse/create-supplier" mat-raised-button color="primary">
          Opret nyt leverandør
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</app-warehouse-basic-layout>
