<mat-toolbar fxFlex fxLayoutAlign="space-between center" class="background-color-white">
  <a fxFlex="20" routerLink="">
    <img style="display: flex" height="30px" alt="Budolfi Vin logo" src="assets/budolfilogo.svg">
  </a>
  <div fxFlex="60" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button mat-button routerLink="">Forside</button>
    <button mat-button routerLink="/webshop">Webshop</button>
    <button mat-button routerLink="">Kontakt Os</button>
    <button mat-button routerLink="/login">Login</button>
  </div>
  <a fxFlex="20" href="https://maps.app.goo.gl/ocNzjtvXR2i2vxg79" target="_blank" fxLayoutAlign="center center">
    <button mat-button>
      <mat-icon matIconPrefix>
      location_on
      </mat-icon>
      Budolfi Pl. 5, Aalborg
    </button>
  </a>
</mat-toolbar>
