<app-warehouse-basic-layout>
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" style="background-color: #EFEFEF">
    <div fxLayout="column" class="document" fxLayoutGap="5">
      <span class="padding-bottom-10" fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>dashboard_customize</mat-icon>
        <h1 class="no-margin no-padding">Vælg costum enum</h1>
      </span>
      <mat-form-field>
        <mat-label>Søg</mat-label>
        <mat-select [(ngModel)]="selectedEnumType" (ngModelChange)="getAllEnumsByType()">
          <mat-option *ngFor="let type of EnumType | keyValue" [value]="type.key">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="padding-bottom-10" fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>dashboard_customize</mat-icon>
        <h1 class="no-margin no-padding">{{EnumType[selectedEnumType]}}</h1>
      </span>

      <app-data-table [tableData]="customEnums" [displayedColumns]="displayedColumns" (lineClickId)="editEnum($event)"></app-data-table>
      <mat-paginator *ngIf="customEnums?.data.length !== 0" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

      <div class="padding-top-10" fxLayoutAlign="end center">
        <button class="full-width" routerLink="/warehouse/create-enum" mat-raised-button color="primary">
          Tilføj ny enum
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</app-warehouse-basic-layout>
