<app-login-basic-layout icon="key" title="Glemt adgangskode" page="forgot" [loading]="loading" (submitAuth)="forgotPassword()">
  <form fxFlex class="full-width" fxLayout="column" fxLayoutGap="9" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <mat-form-field>
      <mat-label>Indtast e-mailadresse</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-icon matIconSuffix>mail</mat-icon>
      <mat-error *ngIf="forgotForm.get('email').hasError('required')">Email skal udfyldes</mat-error>
      <mat-error *ngIf="forgotForm.get('email').hasError('email')">Email er ugyldigs</mat-error>
    </mat-form-field>
  </form>
</app-login-basic-layout>
