<app-front-basic-layout>
  <div fxLayout = "row" fxFlexFill>
    <form fxFlex = "45" fxLayout="column" class="left-section" [formGroup]="checkoutForm" (ngSubmit)="createCheckout()">
      <div class="form-container">
        <h2>Dine Oplysninger</h2>
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" placeholder="Navn" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput formControlName="phoneNumber" placeholder="Telefon" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput formControlName="email" placeholder="Email" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput formControlName="address" placeholder="Adresse" required>
          </mat-form-field>

          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex = "85" appearance="outline">
              <input matInput formControlName="city" placeholder="By" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput formControlName="postcode" placeholder="Postnummer" required>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <input matInput formControlName="country" placeholder="Land"  required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-container">
        <h2>Leveringsmuligheder</h2>
        <mat-radio-group formControlName="deliveryMethod" required>
          <div fxLayout="column" fxLayoutGap="5px">
            <mat-card *ngFor="let method of deliveryMethods" fxLayoutAlign="space-between center" class="delivery-checkboxes">
              <mat-radio-button [value]="method.value">{{ method.label }}</mat-radio-button>
              <span>{{ method.cost }} kr</span>
            </mat-card>
          </div>
        </mat-radio-group>

        <div class="go-to-payment-box" fxLayout = "column" >
          <div fxLayout = "column">
            <mat-checkbox formControlName="termsCheckbox" required>Jeg accepterer handelsbetingelserne</mat-checkbox>
            <mat-checkbox formControlName="newsletterCheckbox">Jeg vil gerne have gode tilbud og nyheder fra Budolfi Vin i indbakken</mat-checkbox>
          </div>
          <button fxFlex="50" mat-raised-button color="primary" class="go-to-payment-button" (click)="goToPayment()">
            Gå til betaling
          </button>
        </div>
      </div>
    </form>

    <div fxFlex = "20" class="basket-box">
      <p>Snooty Grape Snickerdoodle Delight - 1x</p>
      <p>Figminty Pigminty Crosser Tosser - 1x</p>
      <p>Vodka - 1x</p>
    </div>
  </div>
</app-front-basic-layout>


