<app-front-basic-layout>
  <div fxLayout="row" fxFlexFill>
    <form *ngIf="checkoutForm" fxFlex="60" fxLayout="column" class="left-section" [formGroup]="checkoutForm" (ngSubmit)="goToPayment()">
      <div class="form-container">
        <h2>Dine Oplysninger</h2>
        <div fxLayout="column">
          <ng-container>
            <mat-form-field fxFlex="85" appearance="outline">
              <input matInput formControlName="name" placeholder="Navn" required>
            </mat-form-field>
            <mat-form-field fxFlex="85" appearance="outline">
              <input matInput formControlName="phoneNumber" placeholder="Telefon Nummer" required>
            </mat-form-field>
            <mat-form-field fxFlex="85" appearance="outline">
              <input matInput formControlName="email" placeholder="Email" required>
            </mat-form-field>
            <mat-form-field fxFlex="85" appearance="outline">
              <input matInput formControlName="address" placeholder="Addresse" required>
            </mat-form-field>
            <mat-form-field fxFlex="85" appearance="outline">
              <input matInput formControlName="country" placeholder="Land" required>
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="15px">
                <mat-form-field fxFlex="85" appearance="outline">
                  <input matInput formControlName="city" placeholder="By" required>
                </mat-form-field>
                <mat-form-field fxFlex="25" appearance="outline">
                  <input matInput formControlName="postcode" placeholder="Postnummer" required>
                </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="form-container">
        <h2>Leveringsmuligheder</h2>
        <mat-radio-group formControlName="deliveryMethod" required>
          <div fxLayout="column" fxLayoutGap="5px">
            <mat-card fxLayoutAlign="space-between center" class="delivery-checkboxes">
              <mat-radio-button>Afhenting i Butik</mat-radio-button>
              <span>0 kr</span>
            </mat-card>
            <mat-card fxLayoutAlign="space-between center" class="delivery-checkboxes">
              <mat-radio-button>Postnord Hjemmelevering</mat-radio-button>
              <span>59 kr</span>
            </mat-card>
            <mat-card fxLayoutAlign="space-between center" class="delivery-checkboxes">
              <mat-radio-button>GLS</mat-radio-button>
              <span>59 kr</span>
            </mat-card>
            <mat-card fxLayoutAlign="space-between center" class="delivery-checkboxes">
              <mat-radio-button>DAO</mat-radio-button>
              <span>59 kr</span>
            </mat-card>
          </div>
        </mat-radio-group>
        <div class="go-to-payment-box" fxLayout="column" >
          <div fxLayout="column">
            <mat-checkbox formControlName="termsCheckbox" required>Jeg accepterer handelsbetingelserne</mat-checkbox>
            <mat-checkbox formControlName="newsletterCheckbox">Jeg vil gerne have gode tilbud og nyheder fra Budolfi Vin i indbakken</mat-checkbox>
          </div>
          <button fxFlex="50" mat-raised-button color="primary" class="go-to-payment-button" (click)="goToPayment()">
            Gå til betaling
          </button>
        </div>
      </div>
    </form>

    <div fxFlex="20" class="basket-box">
      <ng-container *ngFor="let field of basketContent">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <img [src]="field.item.imageUrl" class="basket-wine-picture" alt="Billede">
          <p>{{field.item.name}}</p>
          <p>{{field.item.price}}</p>
          <input fxFlex ="20" style="border: none" matInput [(ngModel)]="field.quantity" (ngModelChange)="updateLineQuantity(field)" type="number" >
        </div>
      </mat-card>
        </ng-container>
      <div fxLayout="column" style="padding-top: 15px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p>Total:</p>
          <p>{{getTotalPrice()}} kr</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p>Total incl. levering:</p>
          <p>{{getTotalPrice()}} kr</p>
        </div>
      </div>

    </div>
  </div>
</app-front-basic-layout>
