.go-to-payment-box{
  height: 200px;
  border: 4px dotted #9d001f;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 120px;
}

.go-to-payment-button {
  padding-top: 20px;
  background-color: #9d001f;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  height: 100px;
}
