.form-container {
  margin-top: 7%;
  margin-left: 10%;
}

.left-section {
  width: 10%;
}

.basket-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  height: 40%;
  margin-left: 7%;
  margin-top: 7%;
}

.go-to-payment-box{
  height: 50%;
  border: 4px dotted #800080;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 120px;
}

.go-to-payment-button {
  margin-top: 20px;
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-size: 25px;
}

.delivery-checkboxes {
  padding-right: 20px;
}

.basket-cards {
}
