<app-warehouse-basic-layout>
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" style="background-color: #EFEFEF">
    <div fxLayout="column" class="document" fxLayoutGap="5">
      <span fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>local_shipping</mat-icon>
        <h1 class="no-margin no-padding"> {{editing ? 'Rediger Leverandør' : 'Opret Leverandør'}} </h1>
      </span>

      <mat-form-field>
        <mat-label>Leverandørnavn</mat-label>
        <input [disabled]="editing" matInput type="text" [(ngModel)]="supplierName">
      </mat-form-field>

      <app-data-table (deleteClickId)="removeItemFromTable($event)" [addDeleteButton]="true" [showSearchField]="false" [tableData]="associatedItems" [displayedColumns]="displayColumns"></app-data-table>

      <div *ngIf="editing" fxFlex class="padding-top-10" fxLayoutAlign="end center" fxLayoutGap="20px">
        <button type="button" (click)="submitDelete()" mat-raised-button color="warn">
          <mat-icon>delete</mat-icon>
          Slet
        </button>
        <button mat-raised-button (click)="editSupplier()" color="primary">
          <mat-icon>save</mat-icon>
          Gem
        </button>
      </div>

      <button *ngIf="!editing" mat-raised-button color="primary" (click)="createSupplier()">Opret leverandør</button>

      <span *ngIf="editing" class="padding-top-20" fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>category</mat-icon>
        <h1 class="no-margin no-padding">Tilføj produkter til Leverandør </h1>
      </span>

      <mat-form-field *ngIf="editing">
        <mat-label>Søg</mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="search" (ngModelChange)="applySearch()">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addItemToAssociatedItems($event)">
          <mat-option *ngFor="let item of filteredItems" [value]="item">
            {{ 'Type: ' + ItemType[item.itemType] + ' -  Navn: ' + item.name + ' - Ean: ' + item.ean }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</app-warehouse-basic-layout>
