<app-warehouse-basic-layout>
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" style="background-color: #EFEFEF">
    <div fxLayout="column" class="document" fxLayoutGap="5">
      <span class="padding-bottom-10" fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>group</mat-icon>
        <h1 class="no-margin no-padding">Alle brugere</h1>
      </span>

      <app-data-table [tableData]="users" [displayedColumns]="displayedColumns" (lineClickId)="editUser($event)"></app-data-table>
      <mat-paginator *ngIf="users?.data.length !== 0" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

      <div class="padding-top-10" fxLayoutAlign="end center">
        <button class="full-width" routerLink="/warehouse/create-user" mat-raised-button color="primary">
          Opret ny bruger
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</app-warehouse-basic-layout>
