<div fxFlex [fxLayout.lt-md]="'column'" fxLayoutAlign="center center" fxLayoutGap="10" class="padding-inline-10">
  <mat-form-field fxFlex="40" >
    <mat-label>Søg</mat-label>
    <input matInput (ngModelChange)="searchChange()" [(ngModel)]="search">
  </mat-form-field>

  <mat-form-field fxFlex="30">
    <mat-label>Filtrer efter vin type</mat-label>
    <mat-select (ngModelChange)="selectChange()" [(ngModel)]="select">
      <mat-option *ngFor="let wine of wineTypes" [value]="wine.type">{{wine.viewType}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="30">
    <mat-label> Sortér efter pris </mat-label>
    <mat-select (ngModelChange)="priceFilterChange()" [(ngModel)]="price">
      <mat-option value="low-to-high"> Lav til høj </mat-option>
      <mat-option value="high-to-low"> Høj til lav </mat-option>
    </mat-select>
  </mat-form-field>
</div>
