<app-login-basic-layout title="Log In" [loading]="loading" page="login" (submitAuth)="login()">
  <form fxFlex class="full-width" fxLayout="column" fxLayoutGap="9" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput id="email" type="email" formControlName="email">
      <mat-icon matIconSuffix>mail</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</app-login-basic-layout>

