<app-front-basic-layout>
  <app-search></app-search>
  <div fxFlexFill>
    <mat-grid-list fxFlex="100%" gutterSize="10" [cols]="columnAmount">
      <mat-grid-tile *ngFor="let wine of wines">
        <mat-card routerLink="/webshop" style="cursor:pointer" fxFlex fxLayoutAlign="center center">
          <mat-card-content >
            <img src="{{wine.image}}" alt="Billede af smuk vin!" style="width: 60%">
            <p> {{wine.name}} {{wine.price}},- DKK </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-front-basic-layout>
