<app-front-basic-layout>
  <div fxFlexFill fxLayout="column" class="padding-inline-10" fxLayoutGap="10">
    <div fxFlex fxLayout="row" fxLayoutGap="20" class="padding-top-20">
      <mat-form-field fxFlex="40">
        <mat-label>Søg</mat-label>
        <input matInput (keyup)="searchChange()" [(ngModel)]="search">
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <mat-label>Filtrer efter vin type</mat-label>
        <mat-select [(value)]="typeFilter" [(ngModel)]="typeFilter" (ngModelChange)="searchChange()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let wineType of getWineTypeValues()" [value]="wineType">{{wineType}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field fxFlex="30">
      <mat-form-field fxFlex="30">
        <mat-label> Sortér efter pris </mat-label>
        <mat-select [(ngModel)]="priceSort" (ngModelChange)="searchChange()">
          <mat-option>None</mat-option>
          <mat-option value="low-to-high"> Lav til høj </mat-option>
          <mat-option value="high-to-low"> Høj til lav </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-grid-list fxFlex="100%" gutterSize="20" cols="6">
      <mat-grid-tile [colspan]="columnAmount" [rowspan]="columnAmount" *ngFor="let wine of displayWines">
        <div routerLink="/webshop" style="padding: 10px" class="shop-card full-width full-height" fxFlex fxLayout="column" fxLayoutAlign="center center">
          <img [src]="wine.imageUrl" alt="{{ wine.name }}" class="wine-image" style="margin-bottom: 10px">
          <span fxFlex fxLayout="row" style="font-size: 1.1rem; font-weight: bold;" class="full-width" fxLayoutAlign="space-between center">
            <p>{{wine.name}} </p>
            <p style="color: #673ab7">{{wine.price}},- </p>
          </span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-front-basic-layout>
