@use '@angular/material' as mat;
@import '../../../../src/styles.scss';

.wine-image{
  width: 80%;
  height: 80%;
  object-fit: contain;
  padding: 10px;
}

mat-grid-tile {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adjust the values for your preferred shadow */
  border-radius: 10px;
}

.shop-card{
  cursor: pointer;
}

.itemPriceCatalogue{
  color: mat.get-color-from-palette($custom-primary);
}
