.wine-image-container{
  width: 100%;
}

.wine-image{
  width: 94%;
  max-height: 90vh;
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  height: 100%;
}

.wine-image-text{
  color: white;
}

.wine-image-text-box{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
