<app-warehouse-basic-layout>
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" style="background-color: #EFEFEF">
    <form *ngIf="itemForm && !loading"  fxLayout="column" class="document" fxLayoutGap="5" [formGroup]="itemForm" (ngSubmit)="submitItem()">
      <span fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>category</mat-icon>
        <h1 class="no-margin no-padding">{{editing ? 'Rediger produkt' : 'Opret produkt'}}</h1>
      </span>
      <mat-form-field>
        <mat-label>Vælg type af produkt</mat-label>
        <mat-select formControlName="itemType">
          <mat-option [value]="item.key" *ngFor="let item of ItemType | keyValue">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Varenavn</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Varenummer</mat-label>
        <input matInput type="text" formControlName="EAN">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Varebeskrivelse</mat-label>
        <textarea matInput id="description" type="text" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pris</mat-label>
        <input matInput id="price" type="text" formControlName="price">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Antal</mat-label>
        <input matInput id="quantity" type="phone" formControlName="quantity">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Reserveret antal</mat-label>
        <input matInput id="reserved-quantity" type="phone" formControlName="reservedQuantity">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Billede url</mat-label>
        <input matInput type="text" formControlName="imageUrl">
      </mat-form-field>

      <!--      wine or liquor-->
      <ng-container *ngIf="selectedItemType === ItemType.Liquor || selectedItemType === ItemType.Wine">
        <mat-form-field>
          <mat-label>Fra år:</mat-label>
          <input matInput type="phone" formControlName="year">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Produkt volume i liter (eks: 1.75):</mat-label>
          <input matInput type="text" formControlName="volume">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Alkohol Procent (eks: 12.5):</mat-label>
          <input matInput type="text" formControlName="alcoholPercentage">
        </mat-form-field>
      </ng-container>

      <!--      wine specific-->
      <ng-container *ngIf="selectedItemType === ItemType.Wine">
        <mat-form-field>
          <mat-label>Oprindelsesland:</mat-label>
          <input matInput type="text" formControlName="country">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Region:</mat-label>
          <input matInput type="text" formControlName="region">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Vingård:</mat-label>
          <input matInput type="text" formControlName="winery">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Druesort:</mat-label>
          <input matInput type="text" formControlName="grapeSort">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Smagsnoter:</mat-label>
          <input matInput type="text" formControlName="tastingNotes">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Passer til:</mat-label>
          <mat-select [multiple]="true" formControlName="suitableForEnumIds">
            <mat-option *ngFor="let suitableFor of suitableForEnums" [value]="suitableFor.id">{{suitableFor.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Vintype</mat-label>
          <mat-select formControlName="wineTypeEnumKey">
            <mat-option *ngFor="let wineType of wineTypeEnums" [value]="wineType.key">{{wineType.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <!--      Liquor-->
      <ng-container *ngIf="selectedItemType === ItemType.Liquor">
        <mat-form-field>
          <mat-label>Likørtype</mat-label>
          <mat-select formControlName="liquorTypeEnumKey">
            <mat-option *ngFor="let liquorType of liquorTypeEnums" [value]="liquorType.key">{{liquorType.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20">
        <button *ngIf="editing" color="warn" type="button" [disabled]="itemForm.dirty" (click)="deleteItem()" mat-raised-button>
          <mat-icon>delete</mat-icon>
          Slet
        </button>
        <button color="accent" type="button" [disabled]="!itemForm.dirty" (click)="getItemAndBuildForm()" mat-raised-button>
          <mat-icon>restart_alt</mat-icon>
          Nulstil
        </button>
        <button *ngIf="editing" color="primary" type="submit" mat-raised-button>
          <mat-icon>save</mat-icon>
          Gem
        </button>
        <button *ngIf="!editing" color="primary" type="submit" mat-raised-button>
          <mat-icon>add</mat-icon>
          Opret
        </button>
      </div>
    </form>
  </div>
</app-warehouse-basic-layout>
