<app-warehouse-basic-layout (logOutEvent)="logout()">
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" *ngIf="!loading" style="background-color: #EFEFEF">
    <div  fxLayout="column" class="document" fxLayoutGap="5">
      <button mat-raised-button color="primary" (click)="createItem()">Opret nyt produkt</button>
      <mat-form-field fxFlex.gt-sm="40" fxFlex.sm="100">
        <mat-label>Søg</mat-label>
        <input matInput (keyup)="searchChange()" [(ngModel)]="search">
      </mat-form-field>

      <table mat-table [dataSource]="item" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Id
          </th>
          <td mat-cell *matCellDef="let item"> {{item.id}} </td>
        </ng-container>

        <ng-container matColumnDef="ean">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            EAN
          </th>
          <td mat-cell *matCellDef="let item"> {{item.ean}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Navn
          </th>
          <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Pris
          </th>
          <td mat-cell *matCellDef="let item"> {{item.price}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Type
          </th>
          <td mat-cell *matCellDef="let item"> {{ItemType[item.itemType]}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Mængde
          </th>
          <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="editItem(item.id)" *matRowDef="let item; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div></app-warehouse-basic-layout>
