* {
  font-family: Satoshi, Helvetica sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.home-header{
  padding-inline: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white
}

.divider{
  height: 20px;
  width: 1px;
  background: black;
  display: flex;
}
