<app-front-basic-layout [loggedIn]="loggedIn">
  <div fxFlex fxLayoutAlign="center start" fxLayout="row" *ngIf="!loading" style="background-color: #EFEFEF">
    <div fxLayout="column" class="document" fxLayoutGap="15">
      <span fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
        <mat-icon>shopping_cart</mat-icon>
        <h1 class="no-margin no-padding">Din indkøbsvogn</h1>
      </span>
      <ng-container *ngIf="currentPurchaseOrder.orderLines.length !== 0">
        <app-data-table (lineChange)="updateLineQuantity($event)" [tableData]="orderLines" (deleteClickId)="removeOrderLine($event)" [showSearchField]="false" [displayedColumns]="displayedColumns" [addDeleteButton]="true"></app-data-table>
        <mat-paginator *ngIf="orderLines?.data.length !== 0" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20">
          <button color="warn" type="button" (click)="resetPurchaseOrder()" mat-raised-button>
            <mat-icon>delete</mat-icon>
            Tøm indkøbsvogn
          </button>
          <button color="primary" (click)="goToPayment()" mat-raised-button>
            <mat-icon>payments</mat-icon>
            Gå til betaling
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="currentPurchaseOrder.orderLines.length === 0">
        <p>Din indkøbsvogn er tom. Gå til webshoppen for at tilføje nye vare</p>
        <button color="primary" routerLink="/webshop" mat-raised-button>Webshop</button>
      </ng-container>
    </div>
  </div>
</app-front-basic-layout>
