// Custom pallets used in the program
$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);

$custom-red-palette: (
  50: #641116,
  100: #641116,
  200: #641116,
  300: #641116,
  400: #641116,
  500: #641116,
  600: #641116,
  700: #641116,
  800: #641116,
  900: #641116,
  A100: #641116,
  A200: #641116,
  A400: #641116,
  A700: #641116,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$custom-blue-palette: (
  50: #0052a4,
  100: #0052a4,
  200: #0052a4,
  300: #0052a4,
  400: #0052a4,
  500: #0052a4,
  700: #0052a4,
  800: #0052a4,
  900: #0052a4,
  A100: #0052a4,
  A200: #0052a4,
  A400: #0052a4,
  A700: #0052a4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
