// Custom pallets used in the program
$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);

$custom-red-palette: (
  50: #BA0025,
  100: #BA0025,
  200: #BA0025,
  300: #BA0025,
  400: #9D001F,
  500: #9D001F,
  600: #9D001F,
  700: #80001A,
  800: #80001A,
  900: #80001A,
  A100: #9D001F,
  A200: #9D001F,
  A400: #9D001F,
  A700: #9D001F,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$custom-blue-palette: (
  50: #3C62DD,
  100: #3C62DD,
  200: #3C62DD,
  300: #3C62DD,
  400: #3354BE,
  500: #3354BE,
  600: #3354BE,
  700: #2C47A2,
  800: #2C47A2,
  900: #2C47A2,
  A100: #3354BE,
  A200: #3354BE,
  A400: #3354BE,
  A700: #3354BE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$custom-warn-palette: (
  50: #fffde7,
  100: #fff9c4,
  200: #fff59d,
  300: #fff176,
  400: #ffee58,
  500: #ffeb3b,
  600: #fdd835,
  700: #fbc02d,
  800: #f9a825,
  900: #f57f17,
  A100: #ffff8d,
  A200: #ffff00,
  A400: #ffea00,
  A700: #ffd600,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
