<mat-toolbar fxFlex fxLayoutAlign="center center" class="background-color-white">
  <div style="width: 96%; display: flex" fxLayoutAlign="end center">
    <div *ngIf="!isTablet" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-button routerLink="">
        Forside
        <mat-icon>
          home
        </mat-icon>
      </button>
      <button mat-button routerLink="/warehouse/settings">
        Indstillinger
        <mat-icon>
          settings
        </mat-icon>
      </button>
      <button mat-button *ngIf="isAdmin" routerLink="/warehouse/browse-items">
        Produkter
        <mat-icon>
          inventory_2
        </mat-icon>
      </button>
      <button mat-button *ngIf="isAdmin" routerLink="/warehouse/browse-suppliers">
        Leverandører
        <mat-icon>
          local_shipping
        </mat-icon>
      </button>
      <button mat-button *ngIf="isAdmin" routerLink="/warehouse/browse-users">
        Brugere
        <mat-icon>
          person
        </mat-icon>
      </button>
      <button mat-button *ngIf="isAdmin" [matMenuTriggerFor]="orderMenu">
        Ordrer
        <mat-icon>
          dataset
        </mat-icon>
      </button>
      <mat-menu #orderMenu="matMenu">
        <button mat-menu-item routerLink="/warehouse/inbound-orders">
          <mat-icon>system_update_alt</mat-icon>
          <span>Indkommende Ordrer</span>
        </button>
        <button mat-menu-item routerLink="/warehouse/purchase-orders">
          <mat-icon>box</mat-icon>
          <span>Kunde Ordrer</span>
        </button>
      </mat-menu>
      <button (click)="logout()" mat-button>
        Log ud
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="isTablet">
      <button mat-icon-button color="none" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">
    Forside
    <mat-icon>
      <img height="100%" alt="Budolfi Vin logo" src="assets/budolfiGrapes.svg">
    </mat-icon>
  </button>
  <button mat-menu-item routerLink="">
    Vinsmagning
    <mat-icon>
      wine_bar
    </mat-icon>
  </button>
  <button (click)="logout()" mat-menu-item>
    Log ud
    <mat-icon>logout</mat-icon>
  </button>
</mat-menu>
